<?xml version="1.0"?>

<configuration>
  <appSettings>
	  <add key="Email" value="rajat.dangra@gmail.com"/>
	  <add key="Password" value="CGNPM8161K"/>
	  <add key="PAN" value="CGNPM8161K"/>
    <add key="PollingTime" value="500"/> <!--in Milliseconds-->
    <add key="TimeOut" value="20"/> <!--in Seconds-->
	  <add key="RTA_URL" value="https://new.camsonline.com/Investors/Statements/Consolidated-Account-Statement"/>
	  <add key="AggregatorEmailIds" value="upload@piggy.co.in"/>
	  <add key="Mail_Subject" value="Consolidated Account Statement - CAMS Mailback Request"/>
	  <add key="Retry_Count" value="5"/>
	  <add key="Sync_Frequency" value="7"/>
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
	  <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
