<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="Email" value="abc@gmail.com" />
    <add key="Password" value="XXXXX9999X" />
    <add key="PAN" value="XXXXX9999X" />
    <add key="Phone" value="9999999999" />
    <add key="FirstName" value="abc" />
    <add key="LastName" value="def" />
    <add key="PollingTime" value="500" />
    <add key="TimeOut" value="20" />
    <add key="RTA_URL" value="https://new.camsonline.com/Investors/Statements/Consolidated-Account-Statement" />
    <add key="IsAutomated" value="0" />
    <add key="SaveUserDetails" value="0" />
    <add key="AggregatorEmailIds" value="upload@piggy.co.in" />
    <add key="Mail_Subject" value="Consolidated Account Statement - CAMS Mailback Request" />
    <add key="Retry_Count" value="5" />
    <add key="Sync_Frequency" value="7" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
	  <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
