<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Email" value="abc@gmail.com"/>
		<add key="Password" value="XXXXX9999X"/>
		<add key="PAN" value="XXXXX9999X"/>
		<add key="Phone" value="9999999999"/>
		<add key="FirstName" value="abc"/>
		<add key="LastName" value="def"/>
		<add key="PollingTime" value="500"/>
		<add key="TimeOut" value="20"/>
		<add key="PageLoadTimeOut" value="100"/>
		<add key="CookieExpiry" value="1"/>
		<add key="RTA_URL" value="https://www.camsonline.com/Investors/Statements/Consolidated-Account-Statement"/>
		<add key="IsAutomated" value="0"/>
		<add key="ShowAutomation" value="1" />
		<add key="SaveUserDetails" value="0"/>
		<add key="AggregatorEmailIds" value="upload@piggy.co.in"/>
		<add key="Mail_Subject" value="Consolidated Account Statement - CAMS Mailback Request"/>
		<add key="Retry_Count" value="5"/>
		<add key="Sync_Frequency" value="7"/>
		<add key="ForceToHttps" value="false" />
		<add key="Port" value="4444" />
		<add key="Key" value="PasswordPassword" />
	</appSettings>
	<connectionStrings/>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8" />
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true"/>
		<customErrors mode="On"></customErrors>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" userName="username" password="password" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>